.cr-courseCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.cr-courseCard-content {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cr-courseCard-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.cr-courseCard-cat{
  text-decoration: none;
  padding: 10px;
  background-color: #EB455F;
  color: white;
  border-radius: 5px;
}

.cr-courseCard-cat:hover{
  background-color: #2B3467;
  color: white;
}

.cr-courseCard-btn-view{
  padding: 10px;
  background-color: #2B3467;
  color: white;
  border-radius: 5px;
  border: none;
}

.cr-courseCard-btn-view:hover{
  cursor: pointer;
  background-color: #2B3467;
  color: #FCFFE7;
}